{{!-- <div class="environment"></div> --}}
{{!-- <div class="sprites"></div> --}}
{{!-- <div class="player"></div> --}}

<canvas id="base" width="{{gameWidth}}" height="{{gameHeight}}" class="game-canvas"></canvas>