<form class="token-input__form">

	<div class="fields">
		<div class="submission-error">
			Oops! Something went wrong, try again!
			<i class="fa fa-close right"></i>
		</div>

		<div class="field">
    		<input type="text" name="code" id="code" placeholder="Code"/>
		</div>

		<button class="submit" value="Send"><span>Connect</span><i class="fa fa-spinner fa-spin"></i><i class="fa fa-thumbs-up"></i></button>
	</div>

</form>
