<p class="connect-notice__message">Play by scanning...</p>
<div class="qr-code">
	<a href="{{controllerUrl}}/{{token}}">
		<div class="code"></div>
	</a>
</div>
<p class="connect-notice__message">or by entering</p>
<p class="connect-notice__token">{{token}}</p>
<p class="connect-notice__message">at</p>
<p class="connect-notice__url">{{controllerUrl}}</p>