<p class="connect-notice__message">Play by scanning...</p>
<div class="qr-code">
	<div class="code"></div>
</div>
<p class="connect-notice__message">or by visiting</p>
<a href="{{url}}"><p class="connect-notice__url">{{url}}</p></a>
<p class="connect-notice__message">on your phone.</p>