$bg: rgba(40,90,140,1);
$bgd: darken($bg, 5);

@mixin disable-selection() {
  	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
}

.controls {
	overflow: hidden;

	// width: 330px;
	// margin: 20px auto;
	padding-bottom: 6px;

	@include disable-selection();

	.control-row {
		max-height: 50%;
		overflow: hidden;
	}

	.control {
		width: 100px;
		height: 100px;
		margin: 5px;

		// float: left;

		&.b-control {
			div.button {
				$button-color: rgba(195, 70, 70, 1);
				background-color: $button-color;

				font-size: 2em;

				box-shadow: 0 6px darken($button-color, 20);

		    	&:active {
	    			box-shadow: 0 2px darken($button-color, 20);
		    	}
			}
		}

		&.a-control {
			div.button {
				$button-color: rgba(45, 180, 58, 1);
				background-color: $button-color;

				font-size: 2em;

				box-shadow: 0 6px darken($button-color, 20);

		    	&:active {
	    			box-shadow: 0 2px darken($button-color, 20);
		    	}
			}
		}

		@include disable-selection();

		div.button {
			background-color: rgba(0, 0, 0, 0.2);
			text-align: center;

			font-size: 2em;

			box-shadow: 0 6px rgba(0, 0, 0, 0.4);
	    	border-radius: 6px;

	    	display: inline-block;
			width: 100%;

	    	margin-bottom: 4px;

	    	&:active {
	    		margin-top: 4px;
	    		margin-bottom: 0px;
    			box-shadow: 0 2px rgba(0, 0, 0, 0.4);
	    	}
		}

		p {
			line-height: 100px;
			color: rgba(245,245,245,1);
			margin: 0;
			text-shadow: 0 4px rgba(0, 0, 0, 0.4);
			font-weight: bold;
		}

		i {
			line-height: 100px;
			color: rgba(245,245,245,1);
			text-shadow: 0 5px rgba(0, 0, 0, 0.4);
		}
	}
}