.controls {
	.item-details {
		min-height: 1px;
	    text-align: center;

		.name {
			font-size: 1.8em;
			font-weight: bold;
			margin: 0.4em;
			text-overflow: ellipsis;
		    word-wrap: inherit;
		    overflow: hidden;
		    white-space: nowrap;
		}

		.item-image {
		    margin: 0 auto;
		    display: block;
		}
	}

	.control {
		&.back-control {

			font-size: 0.7em;
			margin-bottom: 20px;

			div.button {
				$button-color: rgba(195, 70, 70, 1);
				background-color: $button-color;

				font-size: 2em;

				box-shadow: 0 6px darken($button-color, 20);

		    	&:active {
	    			box-shadow: 0 2px darken($button-color, 20);
		    	}
			}
		}

		&.select-control,
		&.buy-control {

			font-size: 0.7em;
			margin-bottom: 20px;

			div.button {

				$button-color: rgba(45, 180, 58, 1);
				background-color: $button-color;

				font-size: 2em;

				box-shadow: 0 6px darken($button-color, 20);
				display: inline-block;
				width: 100%;

		    	&:active {
	    			box-shadow: 0 2px darken($button-color, 20);
		    	}
			}
		}
	}
}