<div class="grid-container">

	<div class="grid-row">
		<div class="small-3">
			<div class="control back-control">
				<div class="button">
					<p>Back</p>
				</div>
			</div>
		</div>

		<div class="small-6">
			<div class="item-details">
				<p class="name">Item name</p>
				<p class="cost"><b>Cost:</b>40</p>
			</div>
		</div>

		<div class="small-3">
			<div class="control select-control">
				<div class="button">
					<p>Select</p>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-row">
		<div class="small-3">
			<div class="control left">
				<div class="button">
					<i class="fa fa-arrow-left"></i>
				</div>
			</div>
		</div>

		<div class="small-6">
			<div class="item-details">
				<img class="item-image" src="/images/items/greenapple.png">
			</div>
		</div>

		<div class="small-3">
			<div class="control right">
				<div class="button">
					<i class="fa fa-arrow-right "></i>
				</div>
			</div>
		</div>
	</div>

</div>