<div class="grid-container">

	<div class="control-row grid-row">
		<div class="small-3">
			<div class="control back-control">
				<div class="button">
					<p>Back</p>
				</div>
			</div>
		</div>

		<div class="small-6">
			<div class="item-details">
				<p class="name">{{name}}</p>
				<p class="cost"><b>Cost: </b>{{price}}</p>
			</div>
		</div>

		<div class="small-3">
			<div class="control select-control">
				<div class="button">
					<p>Select</p>
				</div>
			</div>
		</div>
	</div>

	<div class="control-row grid-row">
		<div class="small-3">
			<div class="control prev">
				<div class="button">
					<i class="fa fa-arrow-left"></i>
				</div>
			</div>
		</div>

		<div class="small-6">
			<div class="item-details item-image">
				<img class="item-image" src="{{src}}">
			</div>
		</div>

		<div class="small-3">
			<div class="control next">
				<div class="button">
					<i class="fa fa-arrow-right "></i>
				</div>
			</div>
		</div>
	</div>

</div>