<div class="grid-container">

	<div class="grid-row">
		<div class="small-3">
			<div class="control back-control">
				<div class="button">
					<p>Back</p>
				</div>
			</div>
		</div>

		<div class="small-6">
			<div class="item-details">
				<p class="name">{{name}}</p>
				<p class="cost"><b>Cost: </b>{{price}}</p>
			</div>
		</div>

		<div class="small-3">
			<div class="control buy-control">
				<div class="button">
					<p>Buy</p>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-row">
		<div class="small-3">
			<div class="control remove">
				<div class="button">
					<i class="fa fa-minus"></i>
				</div>
			</div>
		</div>

		<div class="small-6">
			<div class="item-details">
				<p class="quantity"><b>Quantity: </b>{{quantity}}</p>
				<p class="total"><b>Total: </b>{{total}}</p>
			</div>
		</div>

		<div class="small-3">
			<div class="control add">
				<div class="button">
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</div>
	</div>

</div>