body {
	background-color: $background-color;
}

.qrcode {
	display: inline-block;
	padding: 5px;
    background-color: white;
    border: 5px solid rgba(0,0,0,0.2);
}

.game {
	.environment {
		background-color: rgba(255,255,255,0.1);
		display: inline-block;
	}

	.game-canvas {
		position: absolute;
		left: 0;
		top: 0;

		&#base {
			position: relative;
			z-index: 2000;
		}

		&#props {
			z-index: 2002;
		}

		&#player {
			z-index: 2002;
		}

		&#cover {
			z-index: 2003;
		}
	}
}