.connect-notice__message {
	font-size: 1.6em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.connect-notice__token {
	display: inline-block;
	font-size: 1.6em;
	background-color: $background-color;
	text-align: center;
	box-shadow: 0 2px darken($background-color, 20);
	color: white;
	padding: 15px 20px;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.connect-notice__url {
	font-size: 1.6em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.qr {
    text-align: center;
}

.qr-code {
	display: block;
    margin: 0 auto;
	padding: 5px;
	width:  275px;
    background-color: white;
    border: 5px solid rgba(0,0,0,0.2);
}